@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    max-width: 375px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border-bottom: 1px solid #C6C6C6;
}

header img {
    margin: 16px;
}

.logo {
    width: 127px;
}

.user-avatar {
    border-radius: 100%;
    width: 34px;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.name-location {
    display: inline-block;
    line-height: 2px;
    margin-left: 10px;
}

.user-post img {
    width: 375px;
}

.icons {
    width: 90px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn {
    border: none;
    background: transparent;
    padding: 0;
}

.fa-regular,
.fa-solid {
    font-size: 24px;
}

.fa-solid {
    color: #fb3958;
}

.icon-img {
    width: 23px;
}

.icon-img:hover,
.fa-regular:hover {
    opacity: 0.5;
}

.fa-solid:hover {
    transform: scale(1.2);   
}

.user-likes {
    font-weight: 700;
    margin: 0 13px;
}

.user-desc {
    padding: 0 0 20px 13px;
    border-bottom: 1px solid #C6C6C6;
}

.user-desc span {
    font-weight: 700;
}
